:root {
  --color-green: #66db23;
  --color-yellow: #ffc822;
  --color-red: #df401c;
  --color-darkgrey: #15171a;
  --color-midgrey: #505050;
  --color-lightgrey: #c6cccf;
  --color-wash: #e5eff5;
  --color-gold: #ffd700;
  --color-darkmode: #151719;
}

body {
  color: lime;
  background-color: var(--color-darkmode);
  margin: 0;
  display: none;
  transition: width 2s, height 4s;
}

html {
  scroll-padding-top: 5em;
}

img[src$="#center"] {
  display: block;
  margin: 0.7rem auto;
  width: 90%;
}

img[src$="#floatleft"] {
  float: left;
  margin: 0.7rem;
}

img[src$="#floatright"] {
  float: right;
  margin: 0.7rem;
}

.legend {
  font-size: 10px;
  line-height: 0.8;
  font-weight: bold;
  color: lime;
  position: relative;
}

.footer {
  font-size: 10px;
  position: relative;
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: rgb(0, 255, 0);
  stroke: lime;
  stroke-width: 1.2px;
}

.node text {
  line-height: 0.8;
  fill: rgb(0, 255, 0);
  stroke: lime;
}

path.link {
  fill: none;
  stroke: var(--color-gold);
  stroke-width: 0.4;
}

div {
  transition: width 2s, height 4s;
}

a:link {
  color: var(--color-gold);
}

a:visited {
  color: var(--color-green);
}
